
body {
  background: linear-gradient(to right, #1565c0, #b92b27);
  height: 100vh;
  overflow: hidden;
}
.main {
  display: flex;
  height: 96.5%;
  justify-content: center;
  align-items: center;
}
p,
span {
  background-color: rgb(222, 218, 218);
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
}
.audio {
  border: none;
  width: 100%;
}
.parent {
  padding: 0 1.4rem 2rem 1.4rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  background-color: rgb(222, 218, 218);
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.song {
  width: 100%;
}
img {
  width: 42%;
  margin-bottom: 25px;
  border-radius: 50%;
}
.button {
  background-color: rgb(222, 218, 218);
  padding: 7px 20px;
  border-radius: 16px;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  color: #000;
  border: 1px solid rgb(177, 172, 172);
  display: block;
}
.button:hover {
  cursor: pointer;
  color: #000;
  background-color: rgb(177, 172, 172);
}
.btn {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}
#song-name {
  padding: 1.2rem 0;
  font-size: 35px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
